<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/ssbra/IdeaProjects/ibrahimKarimProject/AAA/src/test/resources">


        <classes>
            <class name="aaaTests.TestAAAHomePage"></class>
        </classes>
    </test>
</suite>